.wac__box {
  width: 90%;
  max-width: 350px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  font-family: var(--wac__font-family);
  color: var(--wac__text-color);
  border: 2px solid color-mix(in srgb, var(--wac__box-bg-color) 70%, black);
  background-color: var(--wac__box-bg-color);
  border-radius: 20px 0 20px 20px;
  overflow: hidden;

  &.wac__box_opened {
    animation: wac__fade_in 0.5s ease-in-out forwards;
  }

  &.wac__box_closed {
    animation: wac__fade_out 0.5s ease-in-out forwards;
  }
}
.wac__close_button {
  height: 2rem;
  width: 2rem;
  aspect-ratio: 1;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    scale: 1.15;
    rotate: 90deg;
  }
}

.wac__box_title {
  color: var(--wac__box-title-color);
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.5rem;
}

.wac__box_title_text {
  font-size: 1.2rem;
  font-weight: 600;
}

.wac__box_body {
  background-color: white;
  padding: 0.5rem 1rem;

  [class~="wac__not_available"] {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  [class~="strong"] {
    font-weight: 600;
  }

  [class~="phone"] {
    width: fit-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      scale: 1.1;
    }

    [class~="icon"] {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

@keyframes wac__fade_in {
  from {
    opacity: var(--wac__fade_in-0-opacity);
    transform: var(--wac__fade_in-0-transform);
  }
  to {
    opacity: var(--wac__fade_in-100-opacity);
    transform: var(--wac__fade_in-100-transform);
  }
}

@keyframes wac__fade_out {
  from {
    opacity: var(--wac__fade_in-100-opacity);
    transform: var(--wac__fade_in-100-transform);
  }
  to {
    opacity: var(--wac__fade_in-0-opacity);
    transform: var(--wac__fade_in-0-transform);
  }
}
