:root {
  --wac__fade_in-0-transform: translateX(200px);
  --wac__fade_in-0-opacity: 0;
  --wac__fade_in-100-transform: translateX(0px);
  --wac__fade_in-100-opacity: 1;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes wac__fade_in {
  from {
    opacity: var(--wac__fade_in-0-opacity);
    transform: var(--wac__fade_in-0-transform);
  }
  to {
    opacity: var(--wac__fade_in-100-opacity);
    transform: var(--wac__fade_in-100-transform);
  }
}

@keyframes wac__fade_out {
  from {
    opacity: var(--wac__fade_in-100-opacity);
    transform: var(--wac__fade_in-100-transform);
  }
  to {
    opacity: var(--wac__fade_in-0-opacity);
    transform: var(--wac__fade_in-0-transform);
  }
}
