.wac__mini_button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: scale 0.1s ease-in-out;
  animation: wac__fade_in 0.5s ease-in-out forwards;

  &:hover {
    scale: 1.1;
  }
}

@keyframes wac__fade_in {
  from {
    opacity: var(--wac__fade_in-0-opacity);
    transform: var(--wac__fade_in-0-transform);
  }
  to {
    opacity: var(--wac__fade_in-100-opacity);
    transform:  var(--wac__fade_in-100-transform);
  }
}
